*.swp
.eggs/                                                                                                   
AUTHORS                                                                                                  
ChangeLog                                                                                                
breadbot.egg-info/                                                                                       
build/                                                                                                   
data/ 
.tox/
__pycache__/
