[local]
# This is the path where your YAML files are stored. You can split different paths by ":".
data_path = 

# This is the path where your logs are stored. It sould be a single folder.
log_path = /var/log/breadbot


[wechat]
# The token is used to connect to WeChat Official Account Platform. Ignore it if you don't have WeChat.
token =

# This is the ip of the computer which Bread Bot work on.
server_ip = 

# The super users can access the secret data with "sec" tag. The ID looks like "ot-8qxEoJbukKrvwPmLDXXJ5vkPM". You can get the IDs from dia.log. You can also split different IDs by ":".
super_user = localuser

[mongodb]
db_name = breadDB
db_ip = localhost
db_port = 27017
