[local]
# Corpus data file paths. Split them by ",".
data_paths = 

# Log file path, should be a single path.
log_path = '/var/log/breadbot'

# Memory log file path, should be a single path.
mem_path = '/var/log/breadbot/memory'

# The path of bread.cfg, should be a single path.
cfg_path = '/etc/bread.cfg'

# The Breadbot bin path, should be a single path.
bin_path = '/usr/local/bin/breadbot'

# The Google app credentials path. Used for google translate API. Visit https://cloud.google.com/translate/docs/ for more info.
google_app_credentials = 


[wechat]
# The WeChat token. Ignore it if you run on localhost.
token = 

# The port of the server.
port = 80

# The server host IP for WeChat connection. Enter 127.0.0.1 when run on localhost.
host_ip = 

# The allowed host IPs or URLs. Split them by ",".
allowed_hosts = 127.0.0.1, 

# The super users have more privileges to use Breadbot. Get the IDs from dia.log in your log path, Split them by ",".
super_users = localuser, 
